.container {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.col-xs-4 {
    margin: 0px;
    padding: 0px;
}

.col-lg-6 {
    margin: 0px;
    padding: 0px;
}

.col-xs-12 {
    margin: 0px;
    padding: 0px;
}

.blue {
    background-color: rgb(3, 156, 252);
}

.white {
    background-color: white;
}

.spacer {
    height: 30%;
}

.colHeight {
    height: 100%;
}

@media only screen and (orientation: landscape) {
    .pageHeight {
        height: 100%;
    }
}

@media only screen and (orientation: portrait) {
    .pageHeight {
        height: 50%;
    }
}